* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(225, 224, 224, 0.8);
  padding-top: 2rem;
  /* height: 1000px; */
}

.navbar-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  font-size: 12px;
  color: #fff;
  padding: 0.5rem 1rem;
}

.link-top:hover {
  color: rgba(237, 178, 152, 1);
}

.link-user {
  display: block;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
}

.link-user.active {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.link-user a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.link-user a:hover {
  color: rgb(239, 127, 79);
}

.navbar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  /* border-bottom: 1px solid rgba(222, 206, 204, 0.5); */
  /* background-color: rgba(248, 248, 248, 0.5); */
}
.navbar-bottom .navbar-logo {
  position: relative;
  width: 50px;
  height: auto;
  margin: auto;
  padding: 10px;
}

.navbar-bottom .navbar-logo img {
  width: 100%;
  height: auto;
}

.navbar-bottom .navbar-link {
  display: block;
  position: fixed;
  background-color: rgba(240, 229, 229, 0.8);
  width: 50%;
  height: 100vh;
  top: 0;
  right: -100%;
  z-index: 999;
  border: 1px solid rgba(222, 206, 204, 0.5);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.navbar-bottom .navbar-link a {
  display: block;
  text-decoration: none;
  color: #333;
  margin: 10px;
}

.navbar-bottom .navbar-link a:hover {
  color: rgb(239, 127, 79);
}

.navbar-bottom .navbar-link .closed {
  text-align: right;
  padding: 15px;
}

.navbar-bottom .navbar-link .closed:hover,
.navbar-bottom .navbar-extra #menu:hover,
.navbar-bottom .navbar-extra a:hover,
.navbar-bottom .navbar-extra .search:hover {
  color: rgb(239, 127, 79);
  cursor: pointer;
}

.navbar-bottom .navbar-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem 0 0;
  font-size: 15px;
  gap: 10px;
}

.navbar-bottom .navbar-extra a,
.navbar-bottom .navbar-extra .search,
.navbar-bottom .navbar-extra #menu {
  color: rgb(227, 19, 19);
}

.hero-wrapper,
.product-page-img {
  overflow: hidden;
  position: relative;
  margin: auto;
}

.product-page-img .total-img {
  position: absolute;
  right: 5%;
  bottom: 5%;
  background-color: rgba(225, 224, 224, 0.6);
  border-radius: 10px;
  text-align: center;
  width: 10%;
}

.hero-wrapper .hero-track,
.product-page-img .product-page-track {
  display: flex;
}

.hero-wrapper .hero-track .hero-item,
.product-page-img .product-page-track .product-page-item {
  flex: 0 0 auto;
  width: 100%;
}

.hero-wrapper .hero-track .hero-item img,
.product-page-img .product-page-track .product-page-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0);
  color: rgba(227, 19, 19, 0.5);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 28px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover,
.next:hover {
  color: rgb(240, 60, 57);
}

/* banner */
.banner-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 3rem 1rem;
  gap: 1rem;
}

.banner-wrapper a {
  flex: 0 0 auto;
  width: 100px;
  overflow: hidden;
}

.banner-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.banner-wrapper a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border: 1px solid rgba(237, 178, 152, 1);
}
/* banner end*/

/* Product */
/* customer Service */
/* end customer Service */
.product-wrapper {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.customer-wrapper,
.rnd-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* border: 1px solid red; */
}

.product-wrapper .bg-product {
  width: 100%;
}

/* .customer-wrapper .bg-customer {
  border: 1px solid red;
  width: 100%;
  height: auto;
} */

.product-wrapper .bg-product img,
.customer-wrapper .bg-customer img,
.rnd-wrapper .bg-rnd img {
  width: 100%;
  height: auto;
}

.product-wrapper .product {
  display: block;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 70%;
  bottom: 0;
}

.customer-wrapper .customer,
.rnd-wrapper .rnd {
  background-color: rgba(235, 235, 235, 0.8);
}

.product-wrapper .product h3 {
  font-weight: 100;
  font-size: 18px;
  color: rgb(207, 84, 79);
}

.customer-wrapper .customer h3,
.rnd-wrapper .rnd h3 {
  font-weight: 700;
  font-size: 24px;
  color: rgb(207, 84, 79);
  text-align: center;
}

.customer-wrapper .customer p,
.rnd-wrapper .rnd p {
  text-align: center;
  padding: 1rem 2rem;
}

.product-wrapper .product button {
  margin: 0.8rem 10px 10px;
  border: 2px solid rgba(237, 178, 152, 0.8);
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(207, 84, 79);
}

.product-wrapper .product button:hover {
  border: 2px solid rgba(207, 84, 79, 0.8);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}

/* Product End*/

/* footer */
.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;
  margin: 5px;
  gap: 10px;
  background-color: rgba(225, 224, 224, 0.8);
  margin: 0;
}

.footer-wrapper .footer-logo {
  flex: 0 0 auto;
  width: 100%;
  text-align: center;
}

.footer-wrapper .footer-logo img {
  max-width: 100px;
  height: auto;
}

.footer-wrapper .footer-account {
  width: 100%;
}

.footer-wrapper .footer-account h3,
.footer-wrapper .footer-information h3,
.footer-wrapper .credit-location h3 {
  color: #2e2e2e;
  border-bottom: 1px solid rgba(145, 144, 144, 0.8);
  margin: 0.5rem 0;
}

.footer-wrapper .footer-account a {
  display: block;
  text-decoration: none;
  color: #6f6e6e;
  text-transform: uppercase;
  font-size: 16px;
}

.footer-wrapper .footer-account a:hover {
  font-size: 18px;
  color: rgba(207, 84, 79, 0.8);
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.footer-wrapper .footer-information p,
.footer-wrapper .credit-location p {
  color: rgba(34, 34, 34, 0.9);
}

.footer-wrapper .credit {
  color: rgba(34, 34, 34, 0.8);
  font-size: 14px;
  padding: 2rem 0 0 0;
}

.footer-wrapper .credit-transaksi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;
}

.footer-wrapper .credit-transaksi img {
  width: auto;
  height: auto;
}
/* footer End*/
/* product page */
/* filter */
.filter-wrapper {
  margin-top: 3.8rem;
  color: rgb(227, 19, 19);
}

.filter-wrapper h3 {
  padding: 0 1rem;
  cursor: pointer;
  display: inline-block;
}

.filter-top {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.filter-top ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 100%;

  border-bottom: 1px solid #b1b1b1;
}

.filter-top ul li {
  display: inline-block;
  list-style: none;
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 30%;
  cursor: pointer;
  padding: 10px 0;
  /* border: 1px solid red; */
}

.filter-top ul .active {
  border-bottom: 3px solid rgba(207, 84, 79, 0.8);
}

.filter-top ul li:hover {
  color: rgb(240, 60, 57);
}

.filter-top ul li::after {
  content: "";
  width: 1px;
  height: 50%;
  background-color: #b1b1b1;
  position: absolute;
  top: 30%;
  right: -0.5px;
}

/* filter end */

.myproduct-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #e8e8e8;
  cursor: pointer;
}

.myproduct-wrapper .card-product-wrapper {
  width: 45%;
  margin: 8px;
  overflow: hidden;
  border: 1px solid rgba(123, 123, 123, 0.8);
}

.myproduct-wrapper .card-product-wrapper .card-product {
  overflow: hidden;
}

.myproduct-wrapper .card-product-wrapper .card-product .product-img {
  width: 100%;
  height: 9rem;
  overflow: hidden;
}

.myproduct-wrapper .card-product-wrapper .card-product img {
  width: 100%;
  height: 100%;
}

.myproduct-wrapper .card-product-wrapper .card-product .card-product-body {
  padding: 0.5rem;
}

.myproduct-wrapper
  .card-product-wrapper
  .card-product
  .card-product-body
  .card-rating {
  color: #f77437;
}

.myproduct-wrapper
  .card-product-wrapper
  .card-product
  .card-product-body
  .product-name {
  width: 100%;
  overflow: hidden;
}

.myproduct-wrapper
  .card-product-wrapper
  .card-product
  .card-product-body
  .product-name
  h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* product page End*/

/* Login Page */
/* Register Page */

.home {
  position: absolute;
  top: 5px;
  left: 5px;
}

.home .fa {
  color: #c25050;
}

.home .fa:hover {
  color: #cd8282;
}

.login-wrapper .cards,
.registration-wrapper .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards .login-card,
.cards .register-card,
.cards .registration-card {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.cards .login-card::after,
.cards .registration-card::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px dashed #c25050;
}

.cards .login-card .login-title,
.cards .register-card .register-title,
.cards .registration-card .registration-title {
  text-align: center;
  color: #c25050;
}

.cards .register-card .register-title {
  margin-top: 1rem;
}

.cards .login-card .login-title a,
.cards .registration-card .registration-title a {
  display: inline-block;
  overflow: hidden;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  width: 100px;
}

.cards .login-card .login-title img,
.cards .registration-card .registration-title img {
  width: 100%;
  height: auto;
}

.cards .form-login,
.cards .form-registration {
  padding: 2rem;
  height: auto;
}

.cards .form-register {
  padding: 1rem 2rem;
}

.cards .form-register p {
  color: #333;
  margin-bottom: 1.5rem;
}

.cards .form-login .email,
.cards .form-login .password,
.cards .form-registration .email,
.cards .form-registration .username,
.cards .form-registration .phone,
.cards .form-registration .password {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}

.cards .form-login .password #toogle-password,
.cards .form-registration .password #toogle-password1,
.cards .form-registration .password #toogle-password2 {
  position: absolute;
  top: 65%;
  right: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: #c25050;
  width: 25px;
  height: 25px;
  overflow: hidden;
  cursor: pointer;
}

.cards .form-login #login label,
.cards .form-registration #registration label {
  text-transform: capitalize;
  color: #c25050;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: block;
}

.cards .form-login .fa,
.cards .form-registration .fa {
  position: absolute;
  top: 60%;
  color: #c25050;
}

.cards .form-login .password #toogle-password .fa,
.cards .form-registration .password #toogle-password1 .fa,
.cards .form-registration .password #toogle-password2 .fa {
  color: #c25050;
  font-size: 14px;
  display: block;
  position: absolute;
  top: 0;
}

.cards .form-login #login input,
.cards .form-registration #registration input {
  display: block;
  padding: 12px 25px;
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #ced4da;
  outline: none;
}

.cards .form-login #login input:focus,
.cards .form-registration #registration input:focus {
  border-bottom: 1px solid #c25050;
}

.btn-login,
.btn-register,
.btn-registration {
  display: block;
  width: 100%;
  height: 2rem;
  background-color: #c25050;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn-login:hover,
.btn-register:hover,
.btn-registration:hover {
  background-color: #c04242;
}

.btn-register {
  margin-top: 1rem;
}

.forgot {
  text-decoration: none;
  margin-top: 0.5rem;
  display: block;
  color: #c25050;
  font-size: 14px;
}

.forgot:hover {
  color: #cd8282;
}

/* Login Page End*/
/* Register Page End*/

/* Galery */
.galery-wrapper {
  /* margin-top: 3.7rem; */
  background-color: rgba(225, 224, 224, 0.8);
}

.galery-top {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 15rem;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #a19e9e;
}

.galery-top img {
  width: 100%;
  height: auto;
}

.galery-top .card-desain {
  position: absolute;
  bottom: -5rem;
  background-color: #ffffff;
  margin: 1rem;
  border: 1px solid #eaeaea;
}

.galery-top .card-desain p {
  padding: 0.5rem 0;
}

.galery-top .card-desain a {
  display: inline-block;
  text-decoration: none;
  color: #3267d3;
  padding: 10px;
}

.galery-top .card-desain a:hover {
  color: #c04242;
}

.galery-wrapper .galery-description {
  padding: 4rem 1rem 0 1rem;
  text-align: justify;
  line-height: 150%;
}

.galery-wrapper .galery-description p {
  padding: 1rem 0;
}
/* Galery End*/

/* my bag */
.myBag-title {
  border-bottom: 1px solid rgba(207, 84, 79, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 10px 5px;
  gap: 20px;
  z-index: 1;
  background-color: rgba(243, 241, 241, 0.8);
}

.myBag-title a {
  padding-top: 2px;
}

.myBag-title .fa {
  text-align: center;
  color: #c25050;
}

.myBag-title .fa:hover {
  color: #cd8282;
}

.myBag-title h3 {
  color: #c25050;
}

.myBag-title h3 span {
  color: #c76363;
}

.myBag-wrapper {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0.7rem;
  height: 100%;
  flex-direction: column;
  background-color: rgba(225, 224, 224, 0.8);
  overflow: hidden;
  gap: 10px;
}

.myBag-wrapper .myBag-wrapper-product {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(123, 123, 123, 0.8);
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.myBag-wrapper .myBag-wrapper-product.active {
  left: -15%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.myBag-wrapper .myBag-wrapper-product .bag-card-top {
  background-color: rgba(247, 247, 247, 0.8);
  border-bottom: 1px solid rgba(123, 123, 123, 0.8);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.myBag-wrapper .myBag-wrapper-product .bag-card-top .brand {
  color: #c04242;
  font-weight: 700;
}

.myBag-wrapper .myBag-wrapper-product .bag-card-top .trash {
  border: none;
  color: rgba(54, 54, 54, 0.8);
}

.myBag-wrapper .myBag-wrapper-product .bag-card-top .trash:hover {
  color: rgba(54, 54, 54, 0.5);
}

.myBag-wrapper .bag-card-wrapper {
  display: flex;
  align-items: center;
  background-color: rgba(247, 247, 247, 0.8);
  gap: 15px;
  padding: 0.5rem;
}

.myBag-wrapper .bag-card-wrapper .check {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.myBag-wrapper .bag-card-wrapper .check input[type="checkbox"] {
  transform: scale(1.5);
  appearance: none;
  border: 1px solid rgba(123, 123, 123, 0.8);
  width: 10px;
  height: 10px;
}

.myBag-wrapper .bag-card-wrapper .check input[type="checkbox"]:checked {
  content: "";
  background-color: #c04242;
}

.myBag-wrapper .bag-card-wrapper .check input[type="checkbox"]:checked::after {
  content: "\2713";
  position: absolute;
  top: -5px;
  color: #fff;
  width: 100%;
  height: 100%;
}

.myBag-wrapper .bag-card-wrapper .product-img {
  width: 40%;
  height: 70px;
}

.myBag-wrapper .bag-card-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.myBag-wrapper .bag-card-wrapper .detail-product {
  display: flex;
  flex-direction: column;
  width: 70%;
  overflow: hidden;
  gap: 5px;
}

.myBag-wrapper .bag-card-wrapper .detail-product .name-product p {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
  font-size: 18px;
}

.myBag-wrapper .bag-card-wrapper .detail-product .type-product {
  font-size: 14px;
  color: #6f6e6e;
}

.myBag-wrapper .bag-card-wrapper .detail-product .type-product p {
  border: 1px solid #6f6e6e;
  padding: 3px;
  display: inline-block;
}

.myBag-wrapper .bag-card-wrapper .detail-product .price-product {
  font-size: 16px;
  font-weight: 700;
  color: #c04242;
}

.myBag-wrapper .bag-card-wrapper .detail-product .qty {
  display: flex;
}

.myBag-wrapper .bag-card-wrapper .detail-product .qty button,
.myBag-wrapper .bag-card-wrapper .detail-product .qty input {
  background-color: #fff;
  border: 1px solid rgba(123, 123, 123, 0.8);
  padding: 2px;
}

.myBag-wrapper .bag-card-wrapper .detail-product .qty input {
  outline: none;
  width: 30px;
  text-align: center;
}

.myBag-wrapper .bag-card-wrapper .edit {
  /* width: auto; */
  height: 100%;
  position: absolute;
  top: 0;
  right: -55px;
}

.myBag-wrapper .bag-card-wrapper .edit button {
  height: 100%;
  width: auto;
  padding: 0 10px;
  background-color: #c04242;
  color: #fff;
  border: none;
}

.myBag-checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 3rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #c04242;
}

.myBag-checkout input {
  margin-left: 1rem;
}

.myBag-checkout input[type="checkbox"] {
  transform: scale(1.5);
  appearance: none;
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  border: 1px solid rgba(123, 123, 123, 0.8);
  width: 10px;
  height: 10px;
}

.myBag-checkout input[type="checkbox"]:checked {
  content: "";
  background-color: #c04242;
}

.myBag-checkout input[type="checkbox"]:checked::after {
  content: "\2713";
  position: absolute;
  top: -5px;
  color: #fff;
  width: 100%;
  height: 100%;
}

.myBag-checkout .price {
  color: rgba(49, 49, 49, 0.8);
}

.myBag-checkout .price span {
  color: #c04242;
  font-weight: 800;
}

.myBag-checkout .btn-checkout {
  height: 100%;
  padding: 10px;
  border: none;
  background-color: #c04242;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.myBag-checkout .btn-checkout:hover {
  background-color: #cd8282;
}

/* my bag end */

/* Product Page */
.detail-Page-product-wrapper {
  background-color: rgba(123, 123, 123, 0.8);
}

.detail-Page-product-wrapper .product-page-top {
  padding: 0.5rem;
  background-color: #fff;
}

.detail-Page-product-wrapper .product-page-price {
  color: #c04242;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
}

.detail-Page-product-wrapper .product-page-name {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}

.detail-Page-product-wrapper .product-page-rating {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.product-page-ratting-wrapper {
  display: flex;
}

.detail-Page-product-wrapper .product-page-rating .fa {
  color: rgba(248, 212, 8, 0.8);
  font-size: 14px;
}

.detail-Page-product-wrapper .product-page-rating::after {
  content: "";
  position: absolute;
  width: 1%;
  height: 100%;
  background-color: rgba(145, 144, 144, 0.8);
  right: -4%;
}

.detail-Page-product-wrapper .product-page-sale p {
  color: rgba(31, 30, 30, 0.8);
  padding: 0 5px;
}

.detail-Page-product-wrapper .product-page-detail,
.detail-Page-product-wrapper .product-page-evaluation {
  background-color: #fff;
  margin: 10px 0;
}

.detail-Page-product-wrapper .product-page-detail .spesifikasi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgba(123, 123, 123, 0.3);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.detail-Page-product-wrapper
  .product-page-detail
  .spesifikasi
  .link-spesifikasi
  p {
  width: 100px;
  position: absolute;
  right: 17px;
  top: 0;
  bottom: 0;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 50px;
  font-weight: 100;
  cursor: pointer;
}

.detail-Page-product-wrapper
  .product-page-detail
  .spesifikasi
  .link-spesifikasi
  .fa {
  margin-top: 7px;
  font-size: 20px;
  color: rgba(123, 123, 123, 0.8);
  cursor: pointer;
}

.detail-Page-product-wrapper
  .product-page-detail
  .spesifikasi
  .spesifikasi-product {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: -100%;
  background-color: #fff;
  padding: 2rem;
  gap: 20%;
  height: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.detail-Page-product-wrapper
  .product-page-detail
  .spesifikasi
  .spesifikasi-product.active {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 2rem;
  gap: 20%;
  height: 10%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.detail-Page-product-wrapper
  .product-page-detail
  .spesifikasi
  .spesifikasi-product.active
  li,
.detail-Page-product-wrapper
  .product-page-detail
  .spesifikasi
  .spesifikasi-product
  li {
  list-style: none;
  padding: 0.5rem;
  color: rgba(20, 20, 20, 0.8);
}

.product-page-detail .deskripsi {
  padding: 0.5rem;
  /* max-height: 12rem; */
  overflow: hidden;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

/* .product-page-detail .deskripsi.active {
  height: auto;
} */

.product-page-detail .deskripsi h3 {
  margin-bottom: 1rem;
}

.product-page-detail .deskripsi p {
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.5rem;
  padding: 0 0 5rem 0;
}

.product-page-detail .deskripsi .read {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  border-top: 1px solid rgba(123, 123, 123, 0.3);
  text-align: center;
  background-color: #fff;
}

.product-page-detail .deskripsi .read .btn-read {
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  text-transform: capitalize;
  color: rgba(207, 84, 79, 1);
}

.product-page-detail .deskripsi .read .btn-read:hover {
  color: rgba(207, 84, 79, 0.8);
}

/* Product Page End*/
